doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge, chrome=1')
    meta(name='viewport' content='width=device-width, initial-scale=1.0 user-scalable=no')
    title= pugsty
  body
    h1
      | Pugsty!
    script(src='/socket.io/socket.io.js')
    script(src='/pugsty/client.js')
